*{
   margin: 0px;
   padding: 0px;
}
.my-navbar{
    border-bottom: 1px solid rgb(238, 238, 238);
    position: sticky;
    top: 0px;
    height: 86px;
    background-color: white;
    box-sizing: border-box;
    z-index: 5;
}
.vertical-line{
    border-left: 1px solid rgb(238, 238, 238);
    height: 100%;
}
.location>p{
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: 400;
}
.search-bar{
   background-color:rgb(248,248,248); 
   border: 1px solid rgb(238, 238, 238);
   border-radius: 8px;
   padding: 10px;
   width: 40vw;
}
.search-in{
    padding-left: 10px;
    width: 95%;
    border: none;
    background-color: transparent;
}

.search-in:focus{
    outline: none;
}
.scrollable-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    width: 83vw;
    overflow-x: auto;
}
.list{
 width: 100%;
 margin-inline: auto;
 white-space: nowrap;
}
.list>section{
    margin: 10px;
    display: inline-block;
}
::-webkit-scrollbar{
    display: none;
}
.categories{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-inline: auto;
    width: 87vw;
}
.categories-card{
    width: 85vw;
    /* display: flex; */
  justify-content: center;
  margin-inline: auto;
  margin-top: 30px;
}
.my-card{
 width: 190px;
 box-sizing:border-box ;
}
.time-taken{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 9px;
    color: rgb(54, 54, 54);
    width: fit-content;
    padding: 1px 3px;
}
.product-name{
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    width: 100%;
    height: 36px;
    margin-bottom: 6px;
}
.product-wt{
    color:#666666;
        font-size: 10px;
}
.product-price{
color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 12px;
}
.product-btn {
    cursor: pointer;
    width: 66px;
    border: 1px solid rgb(49, 134, 22);
    height: 31px;
    color: rgb(49, 134, 22);
    font-weight: 600;
    font-size: 13px;
    background-color: rgb(247, 255, 249);
    border-radius:5px;
}
.categories-card-row{
    display: flex;
    justify-content: space-between;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    margin-inline:auto ;
    margin-top: 30px;
}
.row-1{
    display: flex;


}
.left{
    flex: 2;
}
.left>h2{
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin: 24px 0px;
}
.right{
    flex: 3;
}
.right>h2{
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin: 24px 0px;
}
.right>h2>span{
    padding-left: 16px;
    color: rgb(12, 131, 31);
    font-size: 16px;
}
.row-2{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.row-2-col-1{
   /* width: 30vw;  */
}
.row-2-col-2{
    display: flex;
    align-items: center;
}
.row-2-col-2>button{
    width: 100px;
    height: 30px;
    border-radius: 8px;
    color: white;
    border: none;
    background-color: #213b50;
    margin-inline:5px ;

}
.row-2-col-3{
    display: flex;
 justify-content: center;
 align-items: center; 
}
.row-2-col-3>a{
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background-color: black;
 display: flex;
 justify-content: space-around;
 align-items: center;
 text-decoration: none;
 margin: 5px;
}
.row-3{
    color:#666666;
        font-size: 15px;
        padding: 10px;
        text-align: justify;
}